<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>About Me</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>@instagram</h2>
				<div class="social-feed instagram-feed"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3"> 
				<h4><hr>About Me<hr></h4> 
				<div class="me">
					<img src="images/misc/me.jpg" alt="john doe">
					<p class="text-uppercase">John Doe</p>
				</div>
			</div>
			<div class="col-lg-3"><h4><hr>Popular Posts<hr></h4></div>
			<div class="col-lg-3"><h4><hr>Revent posts<hr></h4></div>
			<div class="col-lg-3">
				<h4><hr>Gallery on Flickr<hr></h4>
				<div class="social-feed flickr-feed">
					
				</div>
			</div>
		</div>
	</div>
</section>