<section id="blogPosts">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<h2>Blog Posts</h2>
				<h5 class="text-uppercase">My latest ideas</h5>
				<div class="separator center-block"></div>
			</div>
			<blogposts></blogposts>
		</div>
	</div>
</section>