<section id="contact">
	<div class="container">
		<div class="row">
			<h2>Contact Me</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				FORM
			</div>
			<div class="col-lg-6">
				MAP
			</div>	
		</div>
	</div>

</section>