<section id="contact">
	<div class="container-fluid no-margins">
		<div class="row no-gutters">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h2>Contact Me</h2>
				<h5 class="text-uppercase">Let's get in touch</h5>
				<div class="separator center-block"></div>

				<contactForm class="row"></contactForm>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="map-container">
					<div id="map"></div>
				</div>
			</div>	
		</div>
	</div>

</section>