<section id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Testimonials</h2>
				<h5 class="text-uppercase">Our happy customer saying</h5>
				<div class="separator center-block"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
				<div class="carousel slide" id="testimonialCarousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#testimonialCarousel" data-slide-to="0"></li>
				    <li data-target="#testimonialCarousel" data-slide-to="1"></li>
				    <li data-target="#testimonialCarousel" data-slide-to="2" class="active"></li>
                    <li data-target="#testimonialCarousel" data-slide-to="3"></li>
                    <li data-target="#testimonialCarousel" data-slide-to="4"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="item active">
                        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
				    	<blockquote>
				    		<p>
					    		<i class="fa fa-quote-left fa-2x quote"></i>
					    		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
								<i class="fa fa-quote-right fa-2x quote"></i>
                			</p>
				    	</blockquote>	
				    </div>
				    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
				    	<blockquote>
				    		<p>
				    			<i class="fa fa-quote-left fa-2x quote"></i>
				    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
				    			<i class="fa fa-quote-right fa-2x quote"></i>
				    		</p>
				    	</blockquote>
				    </div>
				    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
				    	<blockquote>
				    		<p>
								<i class="fa fa-quote-left fa-2x quote"></i>
				    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
				    			<i class="fa fa-quote-right fa-2x quote"></i>
				    		</p>
				    	</blockquote>
				    </div>
                    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
    			    	<blockquote>
				    		<p>
				    			<i class="fa fa-quote-left fa-2x quote"></i>
				    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
				    			<i class="fa fa-quote-right fa-2x quote"></i>
				    		</p>
				    	</blockquote>
				    </div>
                    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
    			    	<blockquote>
				    		<p>
				    			<i class="fa fa-quote-left fa-2x quote"></i>
				    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.
				    			<i class="fa fa-quote-right fa-2x quote"></i>
				    		</p>
				    	</blockquote>
				    </div>
				  </div>
				</div>
			</div>	
		</div>
	</div>
</section>