/*------------------*/ 
/*	  SaSS Base     */
/*------------------*/ 


/** Variables **/
$mainFontSize : 20px;

$mainFontFamily     : 'Montserrat', sans-serif;
$mainFontFamilyBold : 'Montserrat Bold', sans-serif;
$fontColor 			: #000;
$homeFontColor 	    : #fff;
$hoverColor         : #ddd;
$grey               : #777;
$lightGrey          : #ccc;
$inputColor         : rgb(150, 150, 150);
$navbarColor        : rgba(0, 0, 0, 0.85);

$xxsmall            : 0.5em;
$xsmall             : 0.6em;
$xmsmall            : 0.7em;
$small              : 0.8em;
$smedium            : 0.9em;
$medium             : 1em;
$mediumlg           : 2em;
$large              : 2.5em;
$xlarge             : 3em;
$xxlarge            : 3.5em;
$xxxlarge           : 4em;


/* Fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}


/* Selectors */

html {
	 -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth; 
    overflow-x: auto;
}

body {
	font-size: $mainFontSize;
	font-family: $mainFontFamily;
	color : $fontColor;
}

a {
	color : $fontColor;
}

a:hover , a:focus {
	text-decoration: none;
	color : $hoverColor;
}

input, textarea {
	@include border-radius(1px);
	font-size: $xsmall; 
	font-weight: 100;
	color: $inputColor;
	
	margin: 10px;
	background-color: transparent;
	@include colored-border(1px, all, $hoverColor);
	@include transition(border-color, 0.15s, ease-in-out);
    @include transition(box-shadow, 0.15s, ease-in-out);
    

    @include placeholders(rgba(200, 200, 200, 0.8), $smedium, 2px);
}

input:focus, textarea:focus {
	border-color: #203E97;
    outline: 0;
    @include default-box-shadow(#203E97);
}

input {
	padding: 12px 20px 12px 16px !important;
}

textarea {
	padding-top:12px;
	resize: none;
	height:12em;
	min-width: 70%;
}


button {
	@include border-radius(1px);
	background-color:rgb(225,225,225);
	
	@include default-border(1px, all);
	font-size: $xsmall; 
	color:$homeFontColor;
	padding: 12px 24px;
	margin-top: 10px; 
}

section {
	height:100vh;
	text-align:center;
	background-color:#fff;
	
	h2 {
		text-align:center;
		font-family: $mainFontFamilyBold;
		margin-top : 80px;
		font-size:$mediumlg;
	}

	p {
		color : $grey;
		font-size: $xmsmall;
		padding-top:15px;
		line-height: 23px;
		padding-bottom: 30px;
	}
}

h1 {
	margin-top: 5%;
}

h5 {
	color : $grey !important;
	padding-top:10px;
}

footer {
	background-color:#fff;
	text-align:center;
    font-size: 0.7em;
    color: rgba(150, 150, 150, 0.6);
	padding-bottom: 20px;
	
	small {
		@include colored-border(2px, top, rgba(200, 200, 200, 0.5));
		padding : 20px 25vw 0px 25vw;
	}
}



