/*--------------------*/ 
/*	  SaSS Layout     */
/*--------------------*/ 


$xxsmall            : 0.5em;
$xsmall             : 0.6em;
$xmsmall            : 0.7em;
$small              : 0.8em;
$medium             : 1em;
$xmedium            : 1.1em;
$large              : 1.5em;
$mlarge             : 1.8em;
$xlarge             : 2em;
$xxlarge            : 2.5em;

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}





@media screen and (max-width : 1200px) {
	#about {
		hr {
			width: 10vw !important;
			@include transition(all, 2s, ease-in-out);
		}

		.about-content {
			.about-text {
				margin-left: 7vw;
			}
		}
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}


@media screen and (max-width:1024px) {
	
	hometitle {
		h1 {
			font-size: $xxlarge;
			margin-top: 20vh;
		}
		h2 {
			font-size: $medium;
			margin-top: 2vh; 
		}
		h4 {
			font-size: $small;
			margin-top: 6vh; 
		}
	}

	.icon-bar {
		border-radius: 25px;
    	background-color: white;
	}

}

@media screen and (min-width: 768px) {
	.navbar-brand {
		display: none;
	} 

	.navbar {
		text-align: center;
	}

	.navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width:768px) {
	

	nav {
		ul li:nth-child(4) {
			display:none;
		}

	}

	.navbar-scrolled {
		height: initial;
		background-color: $navbarColor;
	}

	.navbar-nav {
		border:0;
		text-align: center;
    	margin-top: 8vh;
    	font-size: $mlarge;
    	
    	li {
    		padding: 15px;
    	}
	}

	.navbar-collapse {
		max-height: 100vh !important;
    	height: 100vh;
    	
		background-color: $navbarColor;
	}

	.navbar-brand {
		padding:8px 15px;
		
		img {
			padding:0px;
			width: 2em;	
		}
	}


	#home {
		.carousel-controllers {
			margin-top: 10vh;
			font-size: $xmsmall;
			
			div span:nth-child(2) {
				font-size:  $xmedium;
				padding-top: 7px;
			}
		}
	}

	works {
		.work-content {
			.work-text {
				font-size: $xsmall !important;
			    width: 90% !important;
			    height: 67% !important;
			    left: 16px !important;
			    padding-top: 23px !important;
			}
		}
	}

	#testimonials {
		height:initial;
		
		.carousel-inner {
			height: 90vh;
		}
	}

	#blogPosts {
		height:initial;
	}

	#contact {
		height:initial;
		
		.contact-text {
			text-align: center !important;
			
			.separator {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			h2 {
				text-align: center !important;
			}

			p {
				padding: 15px 5px 30px 5px; 
			}
		}

		.map-container {
			height: 60vh;
    		margin-top: 20px;
		}

		button {
			margin-left:10px;
		}

		.formSent {
			font-size: $xsmall;
    		padding: 12px 18px;
		}
	}

	#about {
		.instagram-feed {
			
			img {
				width: 100px;
				height: 100px;
			}
		}

		.about-content {
			.about-text {
				margin-left: 16vw;
			}

			.flickr-feed {
				margin-bottom: 30px;
			}

			.row {
				[class^="col-"]:nth-child(2), [class^="col-"]:nth-child(3) {
					margin-bottom: 30px;
				}
			}
		}
	}

	footer {
		padding-top: 15px;
		@include colored-border(2px, top, rgba(200, 200, 200, 0.5));
		
		small {
			border: 0;
			padding: 0;
			width: 100%;
		}
	}


}


/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
	
	section {
		h2 {
		    font-size: $large;
		}
	}


	hometitle {
		h1 {
			font-size: $xlarge;
			margin-top: 20vh;
		}
		h2 {
			font-size: $small;
			margin-top: 2vh; 
		}
		h4 {
			font-size: $xsmall;
			margin-top: 6vh; 
		}
	}
}