/*--------------------*/ 
/*	  SaSS Layout     */
/*--------------------*/ 


$xxsmall            : 0.5em;
$xsmall             : 0.6em;
$small              : 0.8em;
$medium             : 1em;
$large              : 1.5em;
$xlarge             : 2em;
$xxlarge            : 2.5em;

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}





@media screen and (max-width : 1200px) {
	#about {
		hr {
			width: 10vw !important;
			@include transition(all, 2s, ease-in-out);
		}

		.about-content {
			.about-text {
				margin-left: 7vw;
			}
		}
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}


@media screen and (max-width:1024px) {
	
	hometitle {
		h1 {
			font-size: $xxlarge;
			margin-top: 20vh;
		}
		h2 {
			font-size: $medium;
			margin-top: 2vh; 
		}
		h4 {
			font-size: $small;
			margin-top: 6vh; 
		}
	}

	.icon-bar {
		border-radius: 25px;
    	background-color: white;
	}

}

@media screen and (min-width: 768px) {
	.navbar-brand {
		display: none;
	} 

	.navbar {
		text-align: center;
	}

	.navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width:768px) {
	

	nav {
		ul li:nth-child(4) {
			display:none;
		}
	}

	.navbar-brand {
		padding:10px 15px;
		
		img {
			padding:0px;	
		}
	}


	#home {
		.carousel-controllers {
			margin-top: 10vh;
		}
	}

	#testimonials {
		height:initial;
	}

	#blogPosts {
		height:initial;
	}

	#contact {
		height:initial;
	}


}


/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
	hometitle {
		h1 {
			font-size: $xlarge;
			margin-top: 20vh;
		}
		h2 {
			font-size: $small;
			margin-top: 2vh; 
		}
		h4 {
			font-size: $xsmall;
			margin-top: 6vh; 
		}
	}
}