<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
	<div class="row">
		<div *ngFor='#post of posts ; #i = index' class="col-lg-{{numberOfPosts-1}} col-md-{{numberOfPosts-1}} col-sm-12 col-xs-12">
			<img src="{{post.pictureUrl}}" alt="{{post.title}}">
			
			<div class="blog-title">
				{{post.title}}
			</div>

			<div class="blog-timecat text-uppercase">
				<time>{{post.createdAt}} in</time> {{post.category}}
			</div>


			<div class="separator center-block"></div>

			<div class="blog-content">
				{{post.content}}
			</div>
		</div>

	</div>
</div>