<form (ngSubmit)="onSubmit()" #contactForm="ngForm">

	<div class="row">
		<input type="text" placeholder="NAME*" required class="col-lg-4 col-lg-offset-2" [(ngModel)]="model.name" ngControl="name" #name="ngForm">

		<input type="email" placeholder="EMAIL*" required class="col-lg-4" [(ngModel)]="model.email" ngControl="email" #spy>
	</div>
	<div class="row">
		<textarea placeholder="MESSAGE*" required class="col-lg-8 col-lg-offset-2"  [(ngModel)]="model.message" ngControl="message" ></textarea>
	</div>
	<div class="row">
		<button type="submit" class="col-lg-2 col-lg-offset-2" [disabled]="!contactForm.form.valid">SEND</button>
		<span [hidden]="!submitted" class="formSent col-lg-8">Your message has been sent</span>
	</div>

</form>